<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include("partials/navbar.ejs")%>

    <h2>Home Page</h2>
    <hr>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati ut praesentium nam earum esse ipsam harum distinctio eum labore beatae iusto iste quasi, pariatur rem rerum natus veniam nobis deleniti?</p>

    

    <script>src="public/js/bootstrap.min.js"</script>
</body>
</html>